bordered-button(btn-color,btn-background)
    border 3px solid btn-color
    border-radius 0
    background btn-background
    color btn-color
    text-transform uppercase
    font-weight 600
    cursor pointer
    padding 2px 10px