body
    padding-top 20px
    padding-bottom 20px

    h1,
    h2,
    h3,
    h4,
    h5
        text-transform uppercase
        font-weight 400

    .full-width
        float left
        width 100%
        code
            word-wrap break-word


