*, *:before, *:after
    box-sizing border-box
html, body
    height 100%
    width 100%
    margin 0
    padding 0
    overflow-x hidden
    background-color $base
    font-family "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif
    font-weight 400
body
    padding 0
    >div
        height 100%
        width 100%

.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus
    outline none

.datepicker-group
    >div
        margin 10px 0
        &:first-child
            padding-left 0
        &:last-child
            padding-right 0
        datepicker
            font-family inherit
            div
                font-family inherit !important
.angular-bootstrap-pwgen
    .input-group
        .btn-pwgen
            padding 3px 10px
            i
                line-height 23px

.table
    display table
    height 100%
    vertical-align middle
    padding 0
    margin 0
    .table-cell
        display table-cell
        vertical-align inherit
        padding inherit
        margin inherit
        height 100%
    .table-row
        display table-row
        vertical-align inherit
        padding inherit
        margin inherit
        height 100%

.container-fluid
    height 100%
    width 100%
    .container
        height 100%
        padding 0
        .row
            height 100%

.full-width
    float left
    width 100%

code
    word-wrap break-word

address
    display inline-block
    margin 0

.logo
    text-align center
    .heading
        display block
        i
            font-size 130px
            display inline-block
        span
            display inherit
            font-weight 300


$nav-size = 60px

.navbar-row
    absolute top 0px left 0px
    width 100%
    height $nav-size
    z-index 2

.dashboard
    padding-top $nav-size + 25px
    position relative
    z-index 1


.theme-container
    max-width 520px
    margin 0
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    overflow hidden
    position relative
.navbar
    height $nav-size
    overflow hidden
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    padding 0
    position relative
    border-radius 0
.navbar-icons, .icons-right
    position absolute
    top 0
.navbar-icons
    margin 0
    position relative
    a
        text-decoration none
        line-height $nav-size
        height $nav-size
        transition .25s all ease
        font-size 16px
        cursor pointer
        display inline-block
        text-transform lowercase
        i
            float left
            font-size 26px
            line-height $nav-size
            display inline-block
            padding 0 5px 0 0
            margin 0
        span
            float left
            font-size 16px
            line-height $nav-size
            display inline-block
            padding 0 5px 0 0
            margin 0
        &:hover
            text-decoration none
            color $primary-light
.icons-right
    right 0
.icons-left
    left 0
.hero
    padding 25px 15px
    height 240px
    box-shadow 0 2px 6px rgba(0,0,0,0.25)
    position relative
.float-icon
    height 60px
    width 60px
    border-radius 50%
    position absolute
    right 30px
    margin-top -30px
    box-shadow 0 2px 6px rgba(0,0,0,0.25)
    transition all .25s ease
    text-align center
    display block
    z-index 999
    span
        line-height 60px
        font-size 38px
    &:hover
        box-shadow 3px 6px 12px rgba(0,0,0,0.45)
        transform scale(1.25)
.titles
    width 100%
    max-width 380px
    margin 0 auto
    > *
        margin 0
.list-container
    margin 0
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
.list-item
    padding 10px 25px
    padding-left 75px
    border-bottom 1px solid $divider
    position relative
    &:last-child
        border none
    &:first-child
        border-bottom 1px solid $divider !important
    .list-icon
        margin 0
        font-size 32px
        position absolute
        top 35px
        left 20px
        &.second
            top 75px
    .user-controls
        absolute bottom 0 right 0
        padding 5px
        height 34px
        display block
        background-color $text
        i.material-icons
            cursor pointer
            display inline-block
            font-size 24px
            line-height 24px
            height 24px
            width 24px
            margin 0 0 0 5px
    &.small
        padding 5px 5px
        padding-left 65px
        .list-icon
            margin 0
            font-size 32px
            position absolute
            top 10px
            left 10px
            &.second
                top 50px
        h3
            margin 5px 0 5px
        p
            margin 0
            ng-map
                height 100px !important
    &.user-list
        padding-right 65px
        a
            cursor pointer
            &:hover
                color:inherit !important
                text-decoration none
                opacity 0.75
        .list-icon
            margin 0
            font-size 32px
            position absolute
            top 10px
            left 10px
            &.second
                font-size 24px
                top 10px
                left auto
                right 10px
                cursor pointer
            &.third
                font-size 22px
                top 40px
                left auto
                right 10px
                cursor pointer

.timer-container
    width 100%
    display block
    margin-bottom 30px
    .timer
        width 100%
        margin 15px 0 0 0
        position relative
        clearfix()
        .open-time, .current-time
            display inline-block
            width 100%
            font-size 2.6rem
        .stop-watch
            display inline-block
            width 100%
            font-size 6rem
        button
            absolute right 0px bottom 0
            border none
            background none
            margin 0
            padding 0
            i
                font-size 6rem
                line-height 1
                display inline-block
    input
        display inline-block
        width 100%
        background none
        border:none;
        border-bottom 1px solid $divider

.time-list
    box-shadow none
    width 100%
    height 100%
    position relative
    float left
    padding 30px 0
    margin 15px 0
    clearfix()
    hr
        absolute top 0px left 50%
        margin 0 0 0 -2px
        height 100%
        width 4px
        background $divider
        &:before
            content " "
            absolute top -5px left -6px
            width 16px
            height 16px
            background $divider
            border-radius 8px
        &:after
            content " "
            absolute bottom -5px left -6px
            width 16px
            height 16px
            background $divider
            border-radius 8px
    .time-list-item
        width 100%
        height 100%
        float left
        margin-bottom 15px
        position relative
        .time-icon
            display block
            text-align center
            width 28px
            height 28px
            border-radius 14px
            font-size 18px
            line-height 24px
            absolute top 50% left 50%
            margin -14px 0 0 -14px
            background $text
            box-sizing border-box
            border 2px solid $primary
            z-index 2
            &.color-accent
                border-color $accent
        .text-container
            display block
            height 120px
            .text-table
                display table
                width 100%
                height 100%
                .text-cell
                    display table-cell
                    width 100%
                    height 100%
                    vertical-align middle
                    time
                        display  inline-block
                        width 100%
                        margin-bottom 5px
                        padding-bottom 5px
                        border-bottom 1px solid $divider
                    p
                        display inline-block
                        width 100%
                        margin 0
                        line-height 1
        .map-container
            display block
            ng-map
                display block
                height 120px
                box-sizing border-box
                border 4px solid $text
                box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
            .text-table
                display table
                height 120px
                width 100%
                box-sizing border-box
                border 4px solid $text
                background lightgray
                color $divider
                box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
                text-align center
                .text-cell
                    display table-cell
                    width 100%
                    height 100%
                    vertical-align middle
                    i
                        display inline-block
                        font-size 32px
                        line-height 32px
                        width 100%
                    span
                        font-size 14px
                        line-height 14px
                        width 100%
        &:nth-child(even)
            .text-container
                float right
                padding-right 0
                time
                    padding-left 5px
                p
                    padding-left 5px
            .map-container
                padding-left 0
        &:nth-child(odd)
            .text-container
                padding-left 0
                text-align right
                time
                    padding-right 5px
                p
                    padding-right 5px
            .map-container
                padding-right 0
    &.last-time-closed
        padding: 0

.times-summ
    width 100%
    float left
    margin 10px 0 30px 0
    >div
        h5
            font-size 24px
            line-height 24px
            height 24px
            vertical-align top
            i
                display inline-block
                vertical-align top
            span
                display inline-block
                vertical-align top
                margin 0 10px
                font-size 28px
                line-height 24px
                font-weight 600
        &:first-child
            text-align: right
        &:last-child
            text-align: left


.timer-btn-group
    width 100%
    button
        width 25%
        text-align center
        box-sizing border-box
        &:first-child
            width 50%
    input
        width 100%
        text-align left
        border-top none
        box-sizing border-box

.users-list-container
    width 100%
    margin 20px 0
    clearfix()
    .user-list-item
        background $text
        padding 15px 15px 40px 115px
        margin 0 0 30px 0
        box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
        position relative
        box-sizing border-box
        border-left 6px solid $primary
        clearfix()
        .user-status-icon
            absolute top 50% left 21px
            display block
            text-align center
            width 64px
            height 64px
            border-radius 32px
            font-size 48px
            line-height 56px
            margin -32px 0 0 0
            background $text
            box-sizing border-box
            border 4px solid $primary
            color $primary
            z-index 2
        .user-info
            display block
            h5
                font-size 18px
                text-transform capitalize
                padding 0
                margin 0 0 5px 0
            p.email
                font-size 14px
                text-transform lowercase
                padding 0
                margin 0 0 5px 0
            p.group
                font-size 16px
                text-transform none
                padding 0
                margin 0 0 5px 0
                vertical-align top
                i
                    display inline-block
                    vertical-align top
                    margin 0 5px 0 0
                    color $divider
                a
                    vertical-align top
                    color $primary
        .user-controls
            absolute bottom 0 left 0
            height 40px
            width 100%
            overflow hidden
            background $gray
            i
                cursor pointer
                display inline-block
                font-size 28px
                line-height 40px
                margin 0 5px 0 0
            .user-actions
                float left
                margin 0 0 0 115px
                height 40px
            .group-actions
                float right
                margin 0 15px 0 0
                height 40px
                i
                    margin 0 0 0 5px
            .actions-info
                float right
                margin 0 15px 0 0
                height 40px
        &.active
            &.striked
                border-color $accent
                .user-status-icon
                    border-color $accent
                    color $accent
        &.sleep
            border-color $divider
            .user-status-icon
                border-color $divider
                color $divider


.icon-button
    text-decoration none
    line-height 30px
    height 30px
    transition .25s all ease
    font-size 16px
    display inline-block
    text-transform lowercase
    cursor pointer
    i
        float left
        font-size 26px
        line-height 30px
        display inline-block
        padding 0 5px 0 0
        margin 0
        cursor pointer
    span
        float left
        font-size 16px
        line-height 30px
        display inline-block
        padding 0 5px 0 0
        margin 0
    &:hover
        text-decoration none
        color $primary-dark

.timer-btn-group
    .btn
        display inline-block
        i
            display inline-block
            font-size 24px
            line-height 24px
            height 24px
            float left
            padding 0 5px 0 0
        span
            display inline-block
            font-size 16px
            line-height 24px
            height 24px
            float left
            time
                display inline-block

h1, h2, h3
    font-weight 300
    line-height 1.5
h1
    font-size 42px
h2
    font-size 22px
h3
    margin 15px 0 5px
    font-weight 400
    font-size 18px
a
    color inherit
    text-decoration none
    font-weight 400
    &:hover
        text-decoration underline
p
    font-weight 300
    font-size 16px
    margin-top 0
.colors-container
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
    border-radius 3px
    font-size 0
    padding 0
    max-width 768px
    margin 0 auto 25px
.color
    font-size 16px
    display inline-block
    position relative
    width 33.333333%
    font-weight 700
    padding 10px
    transition all .15s ease
    z-index 1
    user-select none
    cursor pointer
    text-align center
    margin 0
    line-height 1.25
    span
        display block
        color inherit
        font-weight 400
        padding-top 5px
    &:hover
        transform scale(1.25)
        z-index 99
        box-shadow 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12)
        border-radius 3px !important
    @media (max-width: 520px)
        width 100%
    &:nth-child(1)
        border-radius 3px 0 0 0
    &:nth-child(3)
        border-radius 0 3px 0 0
    &:nth-child(7)
        border-radius 0 0 3px 0
    &:nth-child(9)
        border-radius 0 0 0 3px

.valign-wrapper
    display flex
    align-items center