/*Colors*/

ui-blue = #009EE3
ui-gray = #878786
ui-black = #1C1C1B

/*UI*/

text-height = 30px

/*Media queries*/

min-screen-xs = 'screen and (min-width:480px)'
min-screen-sm = 'screen and (min-width:768px)'
min-screen-md = 'screen and (min-width:992px)'
min-screen-lg = 'screen and (min-width:1200px)'