.idea
node_modules
tmp
public
package-lock.json

/legacy/node_modules
/legacy/public/hot
/legacy/public/storage
/legacy/storage/*.key
/legacy/vendor
/legacy/.idea
/legacy/.vscode
/legacy/nbproject
/legacy/.vagrant
/legacy/Homestead.json
/legacy/Homestead.yaml
/legacy/npm-debug.log
/legacy/yarn-error.log
/legacy/.env
/legacy/.phpunit.result.cache
