/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.idea
/backend/.vscode
/backend/nbproject
/backend/.vagrant
/backend/Homestead.json
/backend/Homestead.yaml
/backend/npm-debug.log
/backend/yarn-error.log
/backend/.env
/backend/.phpunit.result.cache

/frontend/node_modules
/frontend/dist
/frontend/.tmp
/frontend/.sass-cache
/frontend/app/bower_components
/frontend/.idea
/frontend/app/styles/bootstrap.css
/frontend/app/styles/bootstrap.css.map