.navbar.bg-primary-dark
    .container
        .navbar-icons(ng-if='authenticated')
            .icons-left
                a.username.color-text(ui-sref="dashboard")
                    i.material-icons.color-text alarm_on
                    span dashboard
                a.color-text(ui-sref="users")
                    i.material-icons.color-text supervisor_account
                    span manage
            .icons-right
                a.color-text
                    span Hi, {{currentUser.name}}
                a.color-text(ng-click='logout()')
                    i.material-icons.color-text power_settings_new
                    span logout
                a.color-text(ng-click='refreshToken()')
                    i.material-icons.color-text update
                    span refresh token
