bordered-button(btn-color,btn-background)
    border 3px solid btn-color
    border-radius 0
    background btn-background
    color btn-color
    text-transform uppercase
    font-weight 600
    cursor pointer
    padding 2px 10px

no-select()
    -webkit-touch-callout none
    -webkit-user-select none
    -khtml-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none

for $clase, $color in palette
    .bg-{$clase}
        background-color: $color
    .color-{$clase}
        color: $color