/*Colors*/

ui-blue = #009EE3
ui-gray = #878786
ui-black = #1C1C1B

// JUST CHANGE THIS COLORS
$primary         = #0293FF
$primary-dark    = $primary  - 25%
$primary-light   = $primary  + 75%
$accent          = #FF5252

$text            = #f
$primary-text    = #3
$secundary-text  = #72
$divider         = #B6
$base            = #FA
$gray            = #ED
// JUST CHANGE THIS COLORS


// CLASS NAME- COLOR PALETTE
palette = {
  "primary":         $primary,
  "primary-dark":    $primary-dark,
  "primary-light":   $primary-light,
  "text":            $text,
  "primary-text":    $primary-text,
  "secundary-text":  $secundary-text,
  "accent":          $accent,
  "divider":         $divider,
  "base":            $base
}

/*UI*/

text-height = 30px

/*Media queries*/

min-screen-xs = 'screen and (min-width:480px)'
min-screen-sm = 'screen and (min-width:768px)'
min-screen-md = 'screen and (min-width:992px)'
min-screen-lg = 'screen and (min-width:1200px)'