doctype html
html(ng-app="timerApp")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title(ng-bind!="title")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')

        // Place favicon.ico and apple-touch-icon.png in the root directory
        // build:css styles/vendor.css
        link(rel='stylesheet', href='styles/bootstrap.css')
        link(rel='stylesheet', href='bower_components/pace.js/themes/silver/pace-theme-minimal.css')
        link(rel='stylesheet', href='../node_modules/n3-charts/build/LineChart.css')
        // bower:css
        link(rel='stylesheet', href='bower_components/angularjs-datepicker/dist/angular-datepicker.min.css')
        link(rel='stylesheet', href='bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css')
        // endbower
        // endbuild
        // build:css(.tmp) styles/main.css
        link(rel="stylesheet", href="styles/main.css")
        // endbuild
    body
        <!--[if lt IE 7]>
        p.browsehappy
            | You are using an
            strong outdated
            |  browser. Please
            a(href="http://browsehappy.com/") upgrade your browser
            |  to improve your experience.
        <![endif]-->

        .app
            .container-fluid(ui-view)

        script.
            paceOptions = {
                target: ".app",
                ghostTime: 500
            }

        // build:js scripts/vendor.js
        // bower:js
        script(src='bower_components/jquery/dist/jquery.js')
        script(src='bower_components/es5-shim/es5-shim.js')
        script(src='bower_components/angular/angular.js')
        script(src='bower_components/json3/lib/json3.min.js')
        script(src='bower_components/tether/dist/js/tether.js')
        script(src='bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
        script(src='bower_components/satellizer/satellizer.js')
        script(src='bower_components/ngGeolocation/ngGeolocation.js')
        script(src='bower_components/ngmap/build/scripts/ng-map.js')
        script(src='bower_components/angularjs-datepicker/dist/angular-datepicker.min.js')
        script(src='bower_components/ngstorage/ngStorage.js')
        script(src='bower_components/pace.js/pace.js')
        script(src='bower_components/d3/d3.js')
        script(src='bower_components/HTML5-Desktop-Notifications2/desktop-notify.js')
        script(src='bower_components/angular-web-notification/angular-web-notification.js')
        // endbower
        script(src='../node_modules/n3-charts/build/LineChart.js')
        // endbuild

        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAkRAyaI22wCtmvvyq25nNy2y6GVSUofn0')

        // build:js(.tmp) scripts/main.js
        script(src="scripts/app.js")
        script(src="scripts/controllers/auth.js")
        script(src="scripts/controllers/dashboard.js")
        script(src="scripts/controllers/users.js")
        script(src="scripts/controllers/user.js")
        script(src="scripts/controllers/settings.js")
        script(src="scripts/controllers/group.js")
        script(src="scripts/controllers/manage.js")
        script(src="scripts/services/usersfactory.js")
        script(src="scripts/services/timefactory.js")
        script(src="scripts/services/timerfactory.js")
        script(src="scripts/services/apitimefactory.js")
        script(src="scripts/services/userfactory.js")
        script(src="scripts/services/groupfactory.js")
        script(src="scripts/services/iplocationfactory.js")
        script(src="scripts/directives/addressshow.js")
        script(src="scripts/directives/timerange.js")
        script(src="scripts/directives/pwgen.js")
        script(src="scripts/filters/locationfilter.js")
        script(src="scripts/filters/timesfilter.js")
        script(src="scripts/filters/strikedfilter.js")
        script(src="scripts/filters/timestampfilter.js")
        script(src="scripts/services/webnotificationfactory.js")
        // endbuild
