include ../tpl/mixins/users
include ../tpl/mixins/times

include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6.col-xs-12.pull-xs-right
                +timer('dashboard')
                .hidden-xs-down
                    +lastTime()
            .col-sm-6.col-xs-12
                .users
                    +usersList('dashboard')