include ../tpl/mixins/times
include ../tpl/mixins/forms
include ../tpl/mixins/groups

include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6
                .form-group(ng-if='user.times')
                    +timesList('user')
            .col-sm-6
                .edit-user
                    +editUserForm('user')
                .group-list(ng-if='currentUser.is_super_admin')
                    +userGroupList('user')