.row
    .col-sm-12
        .alert.alert-danger(ng-show="error")
            strong There was an error:
            | {{error}}
        .alert.alert-info(ng-show="splash")
            strong {{splash}}