.row
    .col-sm-12
        .alert.alert-danger(ng-show="error")
            strong=errors.error
                span &nbsp;:&nbsp;
            |{{error}}
        .alert.alert-info(ng-show="splash")
            strong {{splash}}