.idea
vendor
public/*
!public/index.php
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
resources/views/index.blade.php
Homestead.yaml
Homestead.json
config/jwt.php
.env