.navbar-row
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
        .container
            a.navbar-brand(ui-sref="dashboard")=sitename
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item
                        a.nav-link(ui-sref="manage", ng-if='currentUser.is_moderator || currentUser.is_super_admin')
                            i.material-icons.color-text supervisor_account
                    li.nav-item
                        a.nav-link(ui-sref="settings")
                            i.material-icons.color-text account_circle
                form.form-inline.my-2.my-lg-0
                    button.btn.btn-light.ml-1(type='button', ng-click='logout()')
                        i.material-icons.color-primary-text power_settings_new
.clearfix
