include ../tpl/mixins/users
include ../tpl/mixins/times
.row
     include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6
                +usersList('dashboard')
            .col-sm-6
                +timer('dashboard')
                +lastTime()
                .form-group
                    h5 Auth token
                    .highlight.full-width
                            code.language-html {{ token }}