include ../tpl/mixins/users
include ../tpl/mixins/times

include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6.col-xs-12.pull-xs-right
                +timer('dashboard')
                .hidden-xs-down
                    +lastTime()
                    .form-group(ng-if='currentUser.is_super_admin')
                        h5 Auth token
                        .highlight.full-width
                            code.language-html {{ token }}
            .col-sm-6.col-xs-12
                .users
                    +usersList('dashboard')