include ../tpl/mixins/users
include ../tpl/mixins/times

include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6
                .users
                    +usersList('dashboard')
            .col-sm-6
                +timer('dashboard')
                +lastTime()
                .form-group(ng-if='currentUser.is_super_admin')
                    h5 Auth token
                    .highlight.full-width
                        code.language-html {{ token }}