.col-sm-6
    .well
        h3 Users
        ul.list-group(ng-if='dashboard.users')
            li.list-group-item(ng-repeat='user in dashboard.users', ng-class="user.time_is_open ? 'bg-success' : 'bg-inverse opacity-70'") {{user.name}} {{user.email}}
        .alert.alert-danger(ng-if='error')
            strong There was an error:
            | {{error}}
.col-sm-6
    .well
        .form-group
            h5(ng-if='authenticated') Welcome, {{currentUser.name}}
            .btn-group(role='group', aria-label='usersButtons')
                button.btn.btn-secondary(ng-click='dashboard.logout()') Logout
                button.btn.btn-secondary(ng-click='dashboard.refreshUsers()') Refresh
        .form-group
            h5 Time
            |{{dashboard.time.time|date:'medium'}}
        .form-group
            h5 Set time
            .btn-group(role='group', aria-label='timerButtons')
                button.btn.btn-secondary(ng-show="currentUser.time_is_open") {{ currentUser.time_open.start }}
                button.btn.btn-secondary {{dashboard.timer.timer|date : 'HH:mm:ss' : 'UTC'}}
                button.btn.btn-secondary(type='button', ng-hide='currentUser.time_is_open', ng-click='dashboard.startApiTimer()') Start
                button.btn.btn-secondary(type='button', ng-show='currentUser.time_is_open', ng-click='dashboard.stopApiTimer()') Stop
        .form-group
            h5 Times
            ul.list-group(ng-if='currentUser.time_last_closed.start')
                li.list-group-item
                    p {{ currentUser.time_last_closed.start|date : 'YYYY-M-d' }}
                        |&nbsp;:
                        time-range(start!="{{ currentUser.time_last_closed.start }}", end!="{{ currentUser.time_last_closed.end }}", last="true")
                    address-show(location!="{{ currentUser.time_last_closed.end_location }}")
                    address-show(location!="{{ currentUser.time_last_closed.start_location }}")
        .form-group
            h5 Auth token
            .highlight.full-width
                    code.language-html {{ dashboard.token }}