include ../tpl/mixins/times
include ../tpl/mixins/users
include ../tpl/mixins/groups
include ../tpl/mixins/forms

include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6
                +groupUsersList('group')
            .col-sm-6
                .edit_groups(ng-if='currentUser.is_super_admin')
                    +editGroupForm('group')
                .group-list(ng-if='currentUser.is_super_admin')
                    +groupList('group')
        .clearfix
        .row
            .col-xs-12(style='height:300px;margin:0 0 50px 0;')
                linechart(data="group.chartTimes.time_data", options="group.chartTimes.time_options", ng-if!="group.chartTimes")
        .clearfix
        .row
            .col-xs-12
                .map-container.col-sm-12(style='margin-bottom:50px')
                    ng-map(center!="{{ currentUser.time_last_closed.start_location|locationFilter}}", ng-if!="group.users" zoom="10")
                        marker(ng-repeat!='user in group.users', ng-if!='user.time_is_open', position!="{{ user.time_open.start_location|locationFilter}}", title!="{{user.name}}")