.row
    include ../layout/navbar
.container
    .dashboard
        include ../layout/error-block
        .row
            .col-sm-6
                h3=titles.add_user
                form
                    .form-group
                        input.form-control(type='email', placeholder='Email', ng-model='users.email', required)
                    .form-group
                        input.form-control(type='text', placeholder='Name', ng-model='users.name', required)
                    .form-group
                        input.form-control(type='text', placeholder='Password', ng-model='users.password', required, minlength="4")
                    .form-group
                        select.form-control(ng-model='users.group_id', ng-options="group.title for group in users.groups track by group.id")
                            option(value='') Select Group
                    button.btn.btn-primary(ng-click='users.createUser()', ng-disabled="!users.email || !users.name || !users.password")=form.submit
                h3 Add group
                form
                    .form-group
                        input.form-control(type='text', placeholder='Name', ng-model='users.group_name', required)
                    .form-group
                        input.form-control(type='text', placeholder='Description', ng-model='users.group_description', required)
                    button.btn.btn-primary(ng-click='users.createGroup()', ng-disabled="!users.group_name || !users.group_description ")=form.submit
            .col-sm-6
                .form-group(ng-if='users.users')
                    h3 {{users.group.title}} users
                        a.pull-sm-right.color-primary.icon-button(ng-click='users.getGroupUsers()')
                            i.material-icons.color-primary-dark restore_page
                            span Refresh
                    .list-container(ng-if='users.users')
                        .list-item.small.user-list(ng-repeat='user in users.users', ng-class="user.time_is_open ? 'bg-primary' : 'bg-text'")
                            i.list-icon.material-icons(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'", ng-bind="user.time_is_open ? 'check_circle' : 'assignment_ind'")
                            i.list-icon.second.material-icons(ng-class="user.time_is_open ? 'color-primary-light' : 'color-accent'", ng-click='users.deleteUserFromGroup(user.id)', ng-if="user.id != currentUser.id") delete
                            h3(ng-class="user.time_is_open ? 'color-text' : 'color-primary-text'", ui-sref="user({uid:user.id})") {{user.name}}
                            p(ng-class="user.time_is_open ? 'color-text' : 'color-secundary-text'") {{user.email}}
                .form-group(ng-if='users.groups')
                    h3 Groups
                        a.pull-sm-right.color-primary.icon-button(ng-click='users.getGroups()')
                            i.material-icons.color-primary-dark restore_page
                            span Refresh
                    .list-container(ng-if='users.groups')
                        .list-item.small.user-list(ng-repeat='group in users.groups')
                            i.list-icon.material-icons group
                            i.list-icon.second.material-icons.color-accent(ng-click='users.deleteGroup(group.id)') delete_forever
                            h3 {{group.title}}