.row
    include ../layout/navbar
.container
    .dashboard
        include ../layout/error-block
        .row
            .col-sm-6
                h3 Add user
                form
                    .form-group
                        input.form-control(type='email', placeholder='Email', ng-model='users.email', required)
                    .form-group
                        input.form-control(type='text', placeholder='Name', ng-model='users.name', required)
                    .form-group
                        input.form-control(type='text', placeholder='Password', ng-model='users.password', required)
                    button.btn.btn-primary(ng-click='users.createUser()', ng-disabled="!users.email || !users.name || !users.password") Submit
            .col-sm-6
                h3 Add group
                form
                    .form-group
                        input.form-control(type='text', placeholder='Name', ng-model='users.group_name', required)
                    .form-group
                        input.form-control(type='text', placeholder='Description', ng-model='users.group_description', required)
                    button.btn.btn-primary(ng-click='users.createGroup()', ng-disabled="!users.group_name || !users.group_description ") Submit
                h3 Groups
                    a.pull-sm-right.color-primary.icon-button(ng-click='users.getGroups()')
                        i.material-icons.color-primary-dark restore_page
                        span Refresh
                .list-container(ng-if='users.groups')
                    .list-item.small.user-list(ng-repeat='group in users.groups')
                        i.list-icon.material-icons group
                        i.list-icon.second.material-icons.color-accent(ng-click='users.deleteGroup(group.id)') delete_forever
                        h3 {{group.title}}