include ../tpl/mixins/users
include ../tpl/mixins/groups
include ../tpl/mixins/forms
.row
    include ../tpl/layout/navbar
.container
    .dashboard
        include ../tpl/layout/error-block
        .row
            .col-sm-6
                +addUserForm('users')
                +addGroupForm('users')
            .col-sm-6
                .form-group(ng-if='users.users')
                    +groupUsersList('users')
                .form-group(ng-if='users.groups')
                    +groupList('users')