.col-sm-6.col-sm-offset-3
    .well
        h5(ng-if='authenticated') Welcome, {{currentUser.name}}
        h3 Users
        .form-group
            button.btn.btn-primary(ng-click='user.getUsers()') Get Users!
            button.btn.btn-danger(ng-click='user.logout()') Logout
        ul.list-group(ng-if='user.users')
            li.list-group-item(ng-repeat='user in user.users')
                h4 {{user.name}}
                h5 {{user.email}}
        .alert.alert-danger(ng-if='user.error')
            strong There was an error:
            | {{user.error.error}}
            br
            | Please go back and login again